* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #d9d2d2;
}

.c-logo {
  margin-right: 3rem;
  width: 150px;
}

.c-menu {
  font-size: 1.1rem;
  font-weight: 700;
}

.c-order {
  font-weight: 700;
  border-radius: 8px;
  padding: 0.4rem;
  background-color: #d1180f;
  color: white;
  padding: 0.5rem 2rem;
}

.home {
  margin: 1rem 0;
  padding: 1rem;
  background-color: #b30f09;
}

.c-home-btn {
  padding: 0.4rem 4rem;
  margin: 0 5px;
}

.menu {
  background-color: #dbdad5;
}

.header-menu {
  background-color: gold;
  margin-bottom: 3rem;
}

.img-menu {
  width: 250px;
  margin-bottom: 1rem;
}

.cont-product {
  align-items: center;
  text-align: center;
}

.foot-menu {
  margin-bottom: 1rem;
}

.contact {
  background-color: #1c1c1c;
}

.header-contact {
  color: white;
}

.foot-img {
  width: 300px;
}

input {
  border: none;
  border: 1px solid white;
  border-radius: 8px;
  background: transparent;
  color: white;
  margin: 0.5rem 0;
}

.mess {
  padding: 1rem;
}

.sub {
  border: none;
  border: 1px solid white;
  border-radius: 8px;
  background: transparent;
  color: white;
  width: 5rem;
}
